$orange: #f98948;
$cadetblue: #579bb2;
$black: #444545;
$greygreen: #aac0af;
$greyblue: #c5e0d8;
$aeroblue: #b5ffe9;
$smoke: #eee;

.searchForm {
	background-color: $cadetblue;
	height: 275px;
	border-top: 3px solid $smoke;
	display: flex;
	flex-direction: column;

	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;

		.inputs {
			margin: 35px auto 0;
			width: 70%;
			display: flex;
			flex-direction: column;

			.cityProp {
				align-self: center;
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-around;

				input, select {
					width: 40%;
					height: 50px;
					font-size: 1.5rem;
					font-weight: 100;
				}

				input {
					text-align: center;
					border: 1px solid $smoke;
					border-radius: 5px;
				}

				select {
					color: #bfb0a9;
				}
			}

			.brba {
				width: 100%;
				margin-top: 30px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				input, select {
					width: 20%;
					height: 35px;
					font-size: 1rem;
					font-weight: 100;
				}

				input {
					text-align: center;
					border: 1px solid $smoke;
					border-radius: 5px;
				}

				select {
					color: #bfb0a9;
				}
			}
		}

		.btn {
			width: 20%;
			height: 60px;
			background-color: $orange;
			border: 3px solid white;
			border-radius: 15px;
			margin: 30px auto 0;
			cursor: pointer;
			transition: 0.3s;

			display: flex;
			flex-direction: column;
			justify-content: center;

			p {
				text-align: center;
				color: white;
				font-size: 1.4rem;
				font-weight: 300;
			}
		}

		.btn:hover, .btn:active {
			background-color: white;
			transition: 0.3s;

			p:hover {
				color: $orange;
			}
		}
	}
}













